* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 0;
}

#logo {
  text-decoration: none;
  color: black;
}

#temp {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 2px;
}
#tm {
  font-size: 8px;
  align-self: flex-end;
}

#coords {
  font-size: 10px;
}
.title {
  margin-left: 20px;
  display: flex;
  border-bottom: 0.5px solid #05668d;
  justify-content: space-between;
}

.home-container {
  margin: 20px;
  padding-right: 20px;
  text-align: center;
}
.home-container p,
.home-container li {
  text-align: left;
}

.home-container-inner > h3,
.home-container-inner > h4,
.home-container-inner > div {
  padding-left: 10px;
}

.clothing-recs > h3 {
  margin-bottom: 2px;
  padding-bottom: 0;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid #05668d;
  margin: 20px;
  padding-right: 20px;
  height: 25px;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
}

.navbar .link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.selected {
  border-bottom: 0.5px solid #05668d;
}

.profile-selector {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.profile-selector label {
  margin-left: 10px;
}

.zip-search {
  margin-top: 40px;
}
.zip-search input {
  margin: 0 10px;
}

.big-rain {
  font-size: 10em;
}
